{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
  <style>
      .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
      .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
  </style>

  <div class="example-wrapper">
    <div class="filters">
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked="">
        <label class="custom-control-label" for="customRadio1">Sort by newest</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="customRadio2">Sort by like rate</label>
      </div>
    </div>
    <br>
    {% for post in posts %}

      <div class="card border-{% if post.isSolved %}success{% else %}danger{% endif %}

      mb-3 post-container" style="max-width: 50rem;">
      <div class="card-header post-metadata">{{ post.author }} on {{ post.createdAt | date('d/m/Y') }} at {{ post.createdAt | date('H:i') }} in {{ post.subcategory.category.title }} / {{  post.subcategory.title }}
          <a href="{{ path('post_like', {'id': post.id}) }}" class="btn btn-link js-like">
          {% if app.user and post.isLikedByUser(app.user) %}
            <i class="fas fa-thumbs-up"></i>
            {% else %}
            <i class="far fa-thumbs-up"></i>
          {% endif %}
            <span class="js-likes">{{ post.likes | length }}</span>
          </a>
        </div>
          <div class="card-body">
            <a href="{{ path('post_show', {'id': post.id }) }}" class="post-title">{{ post.title }}</a>
          </div>
        </div>
        <br>
      {% endfor %}
  </div>
{% endblock %}

{% block javascripts %}
  <script>
    function onClickBtnLike(event){
      event.preventDefault();

      const url = this.href;
      const spanCount = this.querySelector('span.js-likes');
      const icone = this.querySelector('svg');

      axios.get(url).then(function(response){
        spanCount.textContent = response.data.likes;

        if (icone.dataset.prefix === 'fas') {
          icone.dataset.prefix = 'far';
        } else {
          icone.dataset.prefix = 'fas';
        }
      });
    }

    document.querySelectorAll('a.js-like').forEach(function(link){
      link.addEventListener('click', onClickBtnLike);
    })
  </script>
{% endblock %}
